<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Наши работы</h2>
        <hr class="small">

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/1-na-1/id1017347211" target="_blank">
                <h3>Мобильная игра: "1 на 1"</h3>
                <img class="img-portfolio img-responsive" src="img/1na1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/zp-zdorovoe-pitanie-dostavka/id1087356224" target="_blank">
                <h3>Доставка здоровой еды: "ZP"</h3>
                <img class="img-portfolio img-responsive" src="img/zp.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/getthelp/id1073331646" target="_blank">
                <h3>Помощь студентам: <br> "GetHelp"</h3>
                <img class="img-portfolio img-responsive" src="img/ghelp.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/us/app/just-for-you/id1123372509" target="_blank">
                <h3>Доставка программ питания: <br> "Just For You"</h3>
                <img class="img-portfolio img-responsive" src="img/jfy.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Cтатистические исследования: "Ayes"</h3>
                <img class="img-portfolio img-responsive img-stub" src="img/ayes.jpg" onmouseover="this.src='img/stub-ayes.jpg';" onmouseout="this.src='img/ayes.jpg';" onclick="return false">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Фитнесс приложение: "GetFit"</h3>
                <img class="img-portfolio img-responsive img-stub" src="img/fit.jpg" onmouseover="this.src='img/stub-fit.jpg';" onmouseout="this.src='img/fit.jpg';" onclick="return false">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/us/app/chisto/id1165430647?ls=1&mt=8" target="_blank">
                <h3>Мобильный агрегатор химчисток: "Chisto"</h3>
                <img class="img-portfolio img-responsive" src="img/chisto.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Приложения для поиска спортивных событий: "Sport Up"<h3>
                <img class="img-portfolio img-responsive img-stub" src="img/sportup.jpg" onmouseover="this.src='img/stub-sportup.jpg';" onmouseout="this.src='img/sportup.jpg';" onclick="return false">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/akademia-ekspress/id1189820586?mt=8" target="_blank">
                <h3>Доставка еды ресторана: "Академия"<h3>
                <img class="img-portfolio img-responsive" src="img/academia.jpg">
              </a>
            </div>
          </div>

         <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://healthyball.ru/">
                <h3>Интернет-магазин: "Healthyball.ru"</h3>
                <img class="img-portfolio img-responsive" src="img/hb.jpg">
              </a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
