<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Наши работы</h2>
        <hr class="small">

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/1-na-1/id1017347211">
                <h3>Мобильная игра: "1 на 1"</h3>
                <img class="img-portfolio img-responsive" src="img/1na1.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://itunes.apple.com/ru/app/zp-zdorovoe-pitanie-dostavka/id1087356224">
                <h3>Доставка здоровой еды: "ZP"</h3>
                <img class="img-portfolio img-responsive" src="img/zp.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Cтатистические исследования: "Ayes"</h3>
                <img class="img-portfolio img-responsive" src="img/ayes.jpg">
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Фитнесс приложение: "GetFit"</h3>
                <img class="img-portfolio img-responsive" src="img/fit.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="">
                <h3>Facebook приложение: "Шедевры Ferrero Rocher"</h3>
                <img class="img-portfolio img-responsive" src="img/fr.jpg">
              </a>
            </div>
          </div>


        </div>

      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
